html{
	overflow-y: auto;
	overflow-x: hidden; 
}
body{
	background: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
}
.shape>.sides>.side>img{
	width: 240px;
	height: 240px;
}
.content-header{
	margin:0;
	padding:0;
}
.content-container{
	width: 100%;
	padding-top: 0px;
	padding-left: 0;
	padding-right: 0;
	margin: 74px 0 0 120px;
}
.ui.fixed.menu, .ui[class*="top fixed"].menu{
	height: 49px;
}
.ui.items{
	width: 100%;
}
.ui.card>.image>img {
	height: 290px;
	width: 290px;
}
